<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-audio-processor"
    version="1">
    <name>Keyboard</name>
    <description>Audio Processor Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,Audio</keywords>
    <repo>https://github.com/anngoman/ionic-audio-processor</repo>
    <issue>https://github.com/anngoman/ionic-audio-processor/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/audio-processor.js" name="audio-processor">
            <runs/>
            <clobbers target="cordova.plugins.AudioProcessor" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="AudioProcessor">
                <param name="ios-package" value="AudioProcessor" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/AudioProcessor.h" />
        <source-file src="src/ios/AudioProcessor.m" />
    </platform>

</plugin>
